MAPID_API_KEY=your_mapid_api_key_here
MAPID_LAYER_ID=your_mapid_layer_id_here
MAPID_PROJECT_ID=your_mapid_project_id_here
MAPID_GEOSERVER_URL=https://geoserver.mapid.io/layers_new/get_layer
MAPID_BASEMAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
